<section class="servicos">
  <div class="container">
    <div class="conteudo">
      <div class="texto">
        <p class="subtitulo">Serviços</p>
        <h2 class="titulo">Como ajudamos o seu negócio?</h2>
        <p class="descricao-desktop">Nossas soluções estão estruturadas em quatro grandes verticais:</p>
        <a href="#" class="botao">Quero conhecer as soluções</a>
      </div>

      <div class="icones">
        <div class="icone-item">
          <div class="icone">
            <img src="../../../assets/automacaoegestaocomercial.avif" alt="Ícone Inteligência Competitiva">
          </div>
          <p>Automação e Gestão Comercial</p>
          <div class="card-hover">
            <a href="#">NIA</a>
            <a href="#">NeoDistribution</a>
            <a href="#">NeoRetail</a>
            <a href="#">NeoMarket</a>
            <a href="#">Horus</a>
            <a href="#">Visibilidade da performance do varejo</a>
          </div>
        </div>

        <div class="icone-item">
          <a href="https://www.primess.com.br/conciliacaodecartoes">
            <div class="icone">
              <img src="../../../assets/conciliadordecartoes.avif" alt="Ícone Inteligência Competitiva">
            </div>
            <p>Conciliador de Cartões</p>
            <div class="card-hover">
              <p href="#">Sabemos que a grande maioria das vendas no varejo
                atualmente são recebidas através de cartões de crédito, débito
                e tickets mas, você confere seus recebimentos?
              </p>
              <p>
                Faz isso de forma prática e rápida? Temos a ferramenta ideal e te daremos controle total sobre o que
                recebe em cartões.
              </p>
            </div>
          </a>
        </div>

        <div class="icone-item">
          <div class="icone">
            <img src="../../../assets/consultoriaempresarial.avif" alt="Ícone Inteligência Competitiva">
          </div>
          <p>Consultoria Empresarial</p>
          <div class="card-hover">
            <a href="#">NIA</a>
            <a href="#">NeoDistribution</a>
            <a href="#">NeoRetail</a>
            <a href="#">NeoMarket</a>
            <a href="#">Horus</a>
            <a href="#">Visibilidade da performance do varejo</a>
          </div>
        </div>
        <div class="icone-item">
          <div class="icone">
            <img src="../../../assets/ecommerce.avif" alt="Ícone Inteligência Competitiva">
          </div>
          <p>E-commerce B2C e Marketplace</p>
          <div class="card-hover">
            <a href="#">NIA</a>
            <a href="#">NeoDistribution</a>
            <a href="#">NeoRetail</a>
            <a href="#">NeoMarket</a>
            <a href="#">Horus</a>
            <a href="#">Visibilidade da performance do varejo</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>