<section class="servicos">
  <div class="container">
    <div class="conteudo">
      <div class="texto">
        <p class="subtitulo">Serviços</p>
        <h2 class="titulo">Como ajudamos o seu negócio?</h2>
        <p class="descricao-desktop">Nossas soluções estão estruturadas em quatro grandes verticais</p>
        <a href="#" class="botao">Quero conhecer as soluções</a>
      </div>

      <div class="icones">
        <div class="icone-item">
          <div class="icone">
            <img src="../../../assets/automacaoegestaocomercial.avif" alt="Ícone Inteligência Competitiva">
          </div>
          <p>Automação e Gestão Comercial</p>
          <div class="card-hover">
            <p>
              Controlar seu estoque, definir de forma assertiva seu mix de produtos, 
              comprá-los aos melhores preços e precificá-los de forma correta são alguns
              dos desafios diários do varejo para garantir sua lucratividade e nós temos
              como te ajudar nisso através de um excelente Sistema de Gestão Comercial.
            </p>
          </div>
        </div>

        <div class="icone-item">
          <a href="https://www.primess.com.br/conciliacaodecartoes">
            <div class="icone">
              <img src="../../../assets/conciliadordecartoes.avif" alt="Ícone Inteligência Competitiva">
            </div>
            <p>Conciliador de Cartões</p>
            <div class="card-hover">
              <p href="#">Sabemos que a grande maioria das vendas no varejo
                atualmente são recebidas através de cartões de crédito, débito
                e tickets mas, você confere seus recebimentos?
              </p>
              <p>
                Faz isso de forma prática e rápida? Temos a ferramenta ideal e te daremos controle total sobre o que
                recebe em cartões.
              </p>
            </div>
          </a>
        </div>

        <div class="icone-item">
          <div class="icone">
            <img src="../../../assets/consultoriaempresarial.avif" alt="Ícone Inteligência Competitiva">
          </div>
          <p>Consultoria Empresarial</p>
          <div class="card-hover">
            <p>Apesar de todos os esforços e experiência acumulada à frente de 
              uma empresa, sabemos que o dinamismo dos mercados atualmente pode
              tornar defasadas algumas práticas. 
              <p>
                Que tal repensar o modelo de gestão
                da sua empresa e nos deixar colaborar para a evolução dele?
              </p>
          </div>
        </div>
        <div class="icone-item">
          <div class="icone">
            <img src="../../../assets/ecommerce.avif" alt="Ícone Inteligência Competitiva">
          </div>
          <p>E-commerce B2C e Marketplace</p>
          <div class="card-hover">
            <p>
              A tecnologia está mudando o comportamento de compra dos consumidores e os trazendo para o universo digital.
            </p>
            <p>
              A sua loja está preparada pra isso?   Você quer vender mais ou vai deixar seus concorrentes serem mais eficientes e chegarem primeiro nos clientes?
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>