<nav class="navbar-container">
  <div class="inner-content">

    <div class="navbar-left">
      <a href="https://exemplo.com/home" target="_blank" rel="noopener noreferrer">
        <img src="../../../assets/neogrid.svg">
      </a>

      <div class="dropdown" *ngFor="let menu of dropdowns">
        <button class="dropdown-toggle">
          {{ menu.title }}
        </button>
        <div class="dropdown-menu">
          <a *ngFor="let item of menu.items" href="#">{{ item }}</a>
        </div>
      </div>
    </div>

    <div class="navbar-right">
      <a href="https://exemplo.com/vendas" target="_blank" rel="noopener noreferrer" class="btn btn-sales">
        Fale com vendas
      </a>
      <a href="https://exemplo.com/vendas" target="_blank" rel="noopener noreferrer" class="btn btn-sales">
        Login
      </a>
    </div>

  </div>
</nav>
