<section class="data-mesh-section">
  <app-hexagono2></app-hexagono2>
  <div class="header">
    <span class="pre-title">Posicionamento</span>
    <h2 class="main-title">Temos a <strong class="highlight">maior malha de dados</strong> da cadeia de consumo do Brasil</h2>
  </div>

  <div class="stats-container">
    <div 
      *ngFor="let stat of stats" 
      class="stat-card" 
      [style.grid-area]="stat.gridArea">
      <span class="stat-value">{{ stat.value }}</span>
      <span class="stat-label">{{ stat.label }}</span>
    </div>
  </div>


</section>