<section class="section">
  <div class="container">
    <div class="text-container">
      <h1>Empresas que atingem grandes resultados com a Prime</h1>
      <a href="#" class="botao">Veja as parcerias de sucesso</a>
    </div>

    <div class="carousel-container">
      <app-card-carousel></app-card-carousel>
    </div>

  </div>

  <!-- <div class="app-hexagono">
      <app-hexagono></app-hexagono>
  </div> -->

  <!-- <div class="hexagon">
    <img src="../../../assets/fotoFace.jpg" />
  </div>

  <div class="hexagon2">
    <img src="../../../assets/hexBorda2.svg" alt="">
  </div> -->

  <app-hexagono></app-hexagono>   

</section>
