*{
  margin: 0;
  padding: 0;
}

.backgroundsvg {
  background-image: url("../assets/banner-shape.svg");
  background-repeat: no-repeat;
  background-size: 93% 130%;
  background-position: top left;
}
