*{
  margin: 0;
  padding: 0;
  background-color: white;
}

.backgroundsvg {
  background-image: url("../assets/banner-shape2.svg");
  // background-image: url("../assets/bannerTeste.svg");
  background-repeat: no-repeat;
  background-size:75% ;
  background-position: top left;
  min-width: 1720px;
}