<footer>
  <div class="container">
    <div class="row">
      <div class="col-12 d-block d-sm-none mb-5">
        <section id="block-7" class="widget widget_block">
          <img src="../../../assets/primeLogo.jpg" alt="">
          <small class="d-block mb-3 text-muted mt-3">A Neogrid é uma multinacional referência em
            soluções
            inteligentes para a gestão da cadeia de suprimentos.</small>
        </section> <small> © 2025
          Neogrid — Todos os direitos reservados</small>
      </div>
      <div class="col-12 col-md-2">
        <section id="nav_menu-6" class="widget widget_nav_menu">
          <h3 class="widget-title dropdown-toggle collapsed">Sobre</h3>
          <div class="menu-footer-1-container">
            <ul id="menu-footer-1" class="menu list-unstyled text-small dropdown-menu-mobile" itemscope=""
              itemtype="http://www.schema.org/SiteNavigationElement">
              <li id="menu-item-3525" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3525">
                <a href="https://neogrid.com/quem-somos/">Quem somos</a>
              </li>
              <li id="menu-item-3530" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-3530">
                <a href="https://neogridcarreiras.gupy.io/">Trabalhe conosco</a>
              </li>
              <li id="menu-item-4593" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4593">
                <a href="https://neogrid.com/relatorio-igualdade-salarial/">Relatório de
                  Transparência e Igualdade Salarial</a>
              </li>
              <li id="menu-item-3528" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-3528">
                <a target="_blank" rel="noopener" href="https://ri.neogrid.com/">Relação com
                  Investidores</a>
              </li>
              <li id="menu-item-4154" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-4154">
                <a href="https://neogrid.com/programa-neogrid-partner/">Seja um parceiro</a>
              </li>
              <li id="menu-item-3526" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3526">
                <a href="https://neogrid.com/noticia/">Notícias</a>
              </li>
            </ul>
          </div>
        </section>
      </div>
      <div class="col-12 col-md-2">
        <section id="nav_menu-3" class="widget widget_nav_menu">
          <h3 class="widget-title dropdown-toggle collapsed">Conteúdo</h3>
          <div class="menu-footer-2-container">
            <ul id="menu-footer-2" class="menu list-unstyled text-small dropdown-menu-mobile" itemscope=""
              itemtype="http://www.schema.org/SiteNavigationElement">
              <li id="menu-item-3531" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3531">
                <a href="https://neogrid.com/blog/">Blog</a>
              </li>
              <li id="menu-item-4157" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-4157">
                <a href="https://neogrid.com/conteudo/">Guias</a>
              </li>
              <li id="menu-item-4156" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4156">
                <a href="https://neogrid.com/cases/">Histórias de sucesso</a>
              </li>
              <li id="menu-item-3533" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3533">
                <a href="https://neogrid.com/podcasts/">Podcast</a>
              </li>
              <li id="menu-item-3532" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3532">
                <a href="https://neogrid.com/evento/">Eventos</a>
              </li>
            </ul>
          </div>
        </section>
      </div>
      <div class="col-12 col-md-2">
        <section id="nav_menu-4" class="widget widget_nav_menu">
          <h3 class="widget-title dropdown-toggle collapsed">Contatos</h3>
          <div class="menu-footer-3-container">
            <ul id="menu-footer-3" class="menu list-unstyled text-small dropdown-menu-mobile" itemscope=""
              itemtype="http://www.schema.org/SiteNavigationElement">
              <li id="menu-item-4537" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4537">
                <a href="https://neogrid.com/fale-com-um-especialista/">Fale com vendas</a>
              </li>
              <li id="menu-item-3537" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-3537">
                <a href="https://neogrid.com/suporte/">Suporte técnico</a>
              </li>
              <li id="menu-item-3538" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-3538">
                <a href="https://neogrid.com/contato-financeiro/">Fale com financeiro</a>
              </li>
              <li id="menu-item-4159" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-4159">
                <a href="https://neogrid.com/contato-juridico/">Fale com jurídico</a>
              </li>
              <li id="menu-item-3539" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-3539">
                <a href="https://ri.neogrid.com/servicos-aos-investidores/fale-com-o-ri/">Fale com
                  o RI</a>
              </li>
              <li id="menu-item-6938" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6938">
                <a href="https://neogrid.com/atendimento-ao-titular-de-dados-pessoais/">Atendimento
                  ao titular de dados pessoais</a>
              </li>
              <li id="menu-item-4752" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4752">
                <a href="https://neogrid.com/imprensa/">Imprensa</a>
              </li>
              <li id="menu-item-3540" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-3540">
                <a href="https://help.neogrid.com/pt-BR/ouvidoria">Ouvidoria</a>
              </li>
            </ul>
          </div>
        </section>
      </div>
      <div class="col-12 col-md-2">
        <section id="nav_menu-5" class="widget widget_nav_menu">
          <h3 class="widget-title dropdown-toggle collapsed">Legal</h3>
          <div class="menu-footer-4-container">
            <ul id="menu-footer-4" class="menu list-unstyled text-small dropdown-menu-mobile" itemscope=""
              itemtype="http://www.schema.org/SiteNavigationElement">
              <li id="menu-item-3543" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-3543">
                <a target="_blank" rel="noopener" href="https://www.contatoseguro.com.br/pt/neogrid">Canal de
                  ética</a>
              </li>
              <li id="menu-item-3546" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-3546">
                <a href="https://neogrid.com/politica-de-cookies/">Política de cookies</a>
              </li>
              <li id="menu-item-3548" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-3548">
                <a target="_blank" rel="noopener"
                  href="https://www.neogrid.com/pdf/politica-de-gestao-portugues.pdf">Política de
                  gestão</a>
              </li>
              <li id="menu-item-3547" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-3547">
                <a href="https://neogrid.com/politica-de-privacidade/">Política de privacidade</a>
              </li>
              <li id="menu-item-3549" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-3549">
                <a href="https://neogrid.com/termos-e-condicoes-de-uso/">Termos de uso</a>
              </li>
              <li id="menu-item-3551" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-3551">
                <a href="https://neogrid.com/politica-de-seguranca-da-informacao-para-terceiros/">Política
                  de segurança da informação para terceiros</a>
              </li>
            </ul>
          </div>
        </section>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-xs-12">
        <div class="footer-social"> <a href="#"> <i class="fa fa-linkedin"></i>
          </a> <a
            href="https://www.instagram.com/prime.solucao?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw==">
            <i class="fa fa-instagram"></i> </a> <a href="#"> <i class="fa fa-youtube"></i> </a> <a
            href="https://w.app/cx4mob"> <i
              class="fa fa-whatsapp"></i> </a>
        </div>
        <div class="d-none d-md-block d-lg-block">
          <section id="block-7" class="widget widget_block">
            <img class="logoPrime" src="../../../assets/LOGO PRIME HORIZONTAL_NOVA_branca.png" alt="">

            <small class="d-block mb-3 text-muted mt-3">A Prime é uma empresa referência
              em soluções inteligentes para a gestão da cadeia de suprimentos.</small>
          </section> <small> © 2025
            Prime — Todos os direitos reservados</small>
        </div>
      </div>
      <section id="block-8" class="d-flex align-items-end bd-highlight mb-3 widget_block">
        <div class="p-2 bd-highlight"> <a href="https://arker.com.br/" target="_blank"> <img decoding="async"
              src="https://neogrid.com/wp-content/themes/neogrid/img/footer/1.png" alt="ARKER"> </a></div>
        <div class="p-2 bd-highlight"> <a href="https://www.ehorus.com.br/" target="_blank"> <img decoding="async"
              src="https://neogrid.com/wp-content/themes/neogrid/img/footer/2.png" alt="HORUS"> </a></div>
        <div class="p-2 bd-highlight"> <a href="https://lett.digital/" target="_blank"> <img decoding="async"
              src="https://neogrid.com/wp-content/themes/neogrid/img/footer/3.png" alt="LETT"> </a></div>
        <div class="p-2 bd-highlight"> <a href="https://predify.me/" target="_blank"> <img decoding="async"
              src="https://neogrid.com/wp-content/themes/neogrid/img/footer/4.png" alt="PREDIFY"> </a>
        </div>
        <div class="p-2 bd-highlight"> <a href="https://smarket.com.br/" target="_blank"> <img decoding="async"
              src="https://neogrid.com/wp-content/themes/neogrid/img/footer/5.png" alt="SMARKET"> </a></div>
      </section>
    </div>
  </div>
</footer>