<section class="banner">
            <div class="container">
                <div class="row"> <svg class="s-banner" width="1440" height="1352" viewBox="0 0 1440 1352" fill="none"
                        xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <path
                            d="M1229.16 -573.148C1265.98 -551.891 1288.66 -512.606 1288.66 -470.091L1288.66 401.944C1288.66 444.458 1265.98 483.743 1229.16 505.001L473.956 941.018C437.138 962.275 391.775 962.275 354.956 941.018L-400.248 505.001C-437.067 483.743 -459.748 444.458 -459.748 401.944L-459.748 -470.091C-459.748 -512.606 -437.067 -551.891 -400.248 -573.148L354.956 -1009.17C391.775 -1030.42 437.138 -1030.42 473.956 -1009.17L1229.16 -573.148Z"
                            fill="url(#paint0_linear_2823_167)"></path>
                        <mask id="mask0_2823_167" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="-568" y="-1068"
                            width="1785" height="2025">
                            <path opacity="0.34"
                                d="M1247.11 -605.113C1283.93 -583.856 1306.61 -544.571 1306.61 -502.056L1306.61 390.804C1306.61 433.318 1283.93 472.603 1247.11 493.861L473.874 940.291C437.055 961.548 391.692 961.548 354.874 940.291L-418.365 493.861C-455.184 472.603 -477.865 433.318 -477.865 390.804L-477.865 -502.056C-477.866 -544.571 -455.184 -583.856 -418.365 -605.113L354.874 -1051.54C391.693 -1072.8 437.055 -1072.8 473.874 -1051.54L1247.11 -605.113Z"
                                fill="url(#paint1_linear_2823_167)"></path>
                        </mask>
                        <g mask="url(#mask0_2823_167)">
                            <g style="mix-blend-mode:luminosity" opacity="0.7">
                                <rect x="-463.999" y="-190" width="1752" height="1116" fill="url(#pattern0)"></rect>
                            </g>
                        </g>
                        <g style="mix-blend-mode:overlay">
                            <path
                                d="M1139.16 -694.35C1178.18 -678.866 1205.97 -643.741 1212.07 -602.208L1338.77 260.574C1344.87 302.107 1328.35 343.74 1295.43 369.788L611.583 910.901C578.664 936.949 534.348 943.457 495.33 927.972L-315.209 606.303C-354.228 590.818 -382.021 555.694 -388.12 514.161L-514.816 -348.621C-520.915 -390.155 -504.393 -431.787 -471.474 -457.835L212.369 -998.948C245.289 -1025 289.604 -1031.5 328.623 -1016.02L1139.16 -694.35Z"
                                stroke="white" stroke-width="3"></path>
                        </g>
                        <defs>
                            <pattern id="pattern0" patternContentUnits="objectBoundingBox" width="1" height="1">
                                <use xlink:href="#image0_2823_167" transform="scale(0.000579684 0.000909918)"></use>
                            </pattern>
                            <linearGradient id="paint0_linear_2823_167" x1="420" y1="-66.9999" x2="100.984" y2="880.385"
                                gradientUnits="userSpaceOnUse">
                                <stop stop-color="#00263C"></stop>
                                <stop offset="1" stop-color="#04121B"></stop>
                            </linearGradient>
                            <linearGradient id="paint1_linear_2823_167" x1="601.364" y1="-793.63" x2="94.4344"
                                y2="877.698" gradientUnits="userSpaceOnUse">
                                <stop stop-color="#00263C"></stop>
                                <stop offset="0.9" stop-color="#04121B"></stop>
                            </linearGradient>
                        </defs>
                    </svg> <svg class="s-hex" width="236" height="172" viewBox="0 0 236 172" fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M130 -169.679C148.564 -180.397 171.436 -180.397 190 -169.679L289.349 -112.321C307.913 -101.603 319.349 -81.7949 319.349 -60.359V54.359C319.349 75.7949 307.913 95.6025 289.349 106.32L190 163.68C171.436 174.397 148.564 174.397 130 163.68L30.6513 106.32C12.0873 95.6025 0.651321 75.7949 0.651321 54.359V-60.359C0.651321 -81.7949 12.0873 -101.603 30.6513 -112.321L130 -169.679Z"
                            fill="#F0000A"></path>
                    </svg>
                    <div id="homeSlider" class="carousel slide carousel-fade" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#homeSlider" data-slide-to="0" class=""></li>
                            <li data-target="#homeSlider" data-slide-to="1" class=""></li>
                            <li data-target="#homeSlider" data-slide-to="2" class="active"></li>
                        </ol>
                        <div class="carousel-inner">
                            <div class="carousel-item">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="carousel-caption">
                                            <h1>E-book: Vença o tempo:<br>7 estratégias para reduzir perdas em
                                                hortifrúti</h1>
                                            <p>Saiba usar dados atualizados do PDV para tomar decisões diárias e
                                                diminuir as perdas em um dos segmentos mais desafiadores da indústria
                                                alimentícia.</p> <a
                                                href="https://hub.neogrid.com/estrategias-para-reduzir-perdas-hortifruti?utm_source=lp&amp;utm_medium=conteudo&amp;utm_campaign=banner-site"
                                                class="btn btn-primary btn-white mb-3">Quero baixar o material</a>
                                        </div>
                                    </div>
                                    <div class="col-md-6"> <img
                                            src="https://neogrid.com/wp-content/uploads/2025/06/neogrid_estrategias-para-reduzir-perdas-em-hortifruti_mockup-site2.png"
                                            draggable="false" class="img-fluid" alt=""></div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="carousel-caption">
                                            <h1>Neogrid Awards 2025: hora de valorizar o que já dá certo!</h1>
                                            <p>Inscreva-se na premiação criada para reconhecer os melhores cases de
                                                sucesso com as soluções da Neogrid, que inspira, transforma e mostra
                                                como a cadeia de consumo pode ser eficiente, conectada e inovadora.</p>
                                            <a href="http://hub.neogrid.com/awards2025?utm_source=lp&amp;utm_medium=evento&amp;utm_campaign=banner-site"
                                                class="btn btn-primary btn-white mb-3">Inscrições abertas</a>
                                        </div>
                                    </div>
                                    <div class="col-md-6"> <img
                                            src="https://neogrid.com/wp-content/uploads/2025/04/Neogrid-Awards-Logo.png"
                                            draggable="false" class="img-fluid" alt=""></div>
                                </div>
                            </div>
                            <div class="carousel-item active">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="carousel-caption">
                                            <h1>Tecnologia para sua empresa vender mais com mais margem.</h1>
                                            <p>Soluções completas e inteligência de dados para gestão da sua empresa de
                                                ponta a ponta.</p> <a
                                                href="https://neogrid.com/fale-com-um-especialista"
                                                class="btn btn-primary btn-white mb-3">Agende uma conversa com
                                                especialista</a>
                                        </div>
                                    </div>
                                    <div class="col-md-6"> <img
                                            src="https://neogrid.com/wp-content/uploads/2024/04/tablet-2.webp"
                                            draggable="false" class="img-fluid" alt=""></div>
                                </div>
                            </div>
                        </div>
                        <div class="s-bullet"></div> <a class="carousel-control-prev" href="#homeSlider" role="button"
                            data-slide="prev"> <span class="carousel-control-prev-icon" aria-hidden="true"></span> <span
                                class="sr-only">Anterior</span> </a> <a class="carousel-control-next" href="#homeSlider"
                            role="button" data-slide="next"> <span class="carousel-control-next-icon"
                                aria-hidden="true"></span> <span class="sr-only">Próximo</span> </a>
                    </div>
                    <div class="fixed-social"> <a href="https://www.linkedin.com/company/neogrid"> <i
                                class="fa fa-linkedin"></i> </a> <a href="https://www.instagram.com/neogrid"> <i
                                class="fa fa-instagram"></i> </a> <a href="https://www.youtube.com/user/neogridscm"> <i
                                class="fa fa-youtube"></i> </a> <a
                            href="https://open.spotify.com/show/3xsJUpzGgqLLOFBrUnh3RT?si=Q_JczaArT3uhI-Xoe0XX6w"> <i
                                class="fa fa-spotify"></i> </a></div>
                </div>
            </div>
        </section>
