<div class="container">
        <div class="row">
          <div class="txt-section col-md-12 w-50 text-center">
            <p class="sub-title">Posicionamento</p>
            <h2 class="txt-center f-bold-6">Temos a <b>maior</b> malha de dados da cadeia de consumo do
              Brasil</h2>
          </div>
          <app-hexagono2></app-hexagono2>
          <div class="col-12 col-md-3 pos imgCont">
          </div>

          <div class="col-12 col-md-9 bubblePai">
            <div class="bubble-container">
              <div class="bubble">
                <p>+50mil</p> <small>PDVs</small>
              </div>
              <div class="bubble">
                <p>+5mil</p> <small>indústrias</small>
              </div>
              <div class="bubble">
                <p>+1bilhão</p> <small>de NFs</small>
              </div>
              <div class="bubble">
                <p>+6mil</p> <small>distribuidores</small>
              </div>
              <div class="bubble">
                <p>+3,2mil</p> <small>varejos online</small>
              </div>
            </div>
          </div>
        </div>
      </div>
