.carrossel-container {
  overflow: hidden;
  width: 100%;
  background-color: #fff;
  align-self: center;
  justify-self: center;
}

.carrossel-track {
  display: flex;
  justify-content: space-evenly;
  gap: 2rem;
  padding: 1rem;
  cursor: grab;
  overflow-x: scroll;
  scroll-behavior: auto;
  scrollbar-width: none;
}

.carrossel-track::-webkit-scrollbar {
  display: none;
}

.carrossel-slide {
  flex: 0 0 auto;
  width: calc(30vw / 5);
  min-width: 100px;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.carrossel-slide img {
  width: 100%;
  height: auto;
  object-fit: contain;
  filter: grayscale(0.2);
  transition: transform 0.5s ease;
}

.carrossel-slide img:hover {
  transform: scale(1.1);
  filter: grayscale(0);
}
